@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,300&display=swap");
body {
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.nav-container {
    background: #f8b195;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
    }
    nav {
        ul {
            display: flex;

            a {
                display: block;
                padding: 0 1em;

                .extra {
                    display: none;
                }
            }
        }
    }
}
.social-header {
    display: none;
}
.hero {
    background: #f67280;
    background-image: url(../img/herodesign.svg);
    background-repeat: no-repeat;
    background-position: 90% 30%;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}
.hero-design {
    display: none;
}
.subtitle {
    font-weight: bold;
    text-align: justify;
    display: flex;
    margin: 0 auto;
    width: 300px;

    mark {
        color: #f67280;
        background-color: white;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        background-image: none;
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #f8b195;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
        nav ul {
            margin-top: 0.5em;
            li .extra {
                display: inline;
            }
        }
        .logo {
            font-size: 1.5em;
        }
    }

    .social-header {
        display: block;

        span {
            color: #f67280;
            font-weight: bold;
            display: block;
            position: relative;
            top: 30%;

            text-align: center;
            a {
                margin-left: 10px;
                font-size: 1.5em;
                color: #f67280;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #f67280;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 4em;
                line-height: 1.2em;
            }
        }
    }
    .subtitle {
        margin: unset;
        font-size: 1.5em;
        width: auto;
        max-width: 500px;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 20%;
        width: 100%;
    }
}
.about-container{
    display: block;
    text-align: center;
    color: white;
    .left{
        padding: 2em 2em 2em 4em;
        background: #C06C84;
        .title{
            margin-bottom: 1.5em;
            font-size: 1.75em;
            font-weight: bold;
        }
        .content{
            line-height: 2em;
        }
    }
    .right{
        background:#C06C84;
        ul{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: minmax(100px, auto);
            gap: 2em;

            li{
                img{
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%; 
                }
            }

        }
    }
}

@media only screen and (min-width: 1050px){
    .about-container{

        display: grid;
        grid-template-columns: 66% auto;
        color: #ffffff;
        height: 50%;
        
        .left{
            text-align: justify;
            background: #C06C84;
            padding: 6em 8em 6em 4em;
    
            
    
            .title{
                height: 10vh;
                font-size: 2.25em;
                font-weight: bold;
                
            }
            .about-content{
                margin-top: 2em;
                font-size: 1.25em;
    
            }
        }
        .right{
            background: unset;
            padding: 6em 8em 6em 4em;
            ul{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: minmax(100px, auto);
                gap: 2em;
    
                li{
                    img{
                        max-width: 100%;
                        max-height: 100%; 
                    }
                }
    
            }
        }
    }
    
}